body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* underline style */
.unLine {
    size: 10px;
}

.toolbar_img {
    width: 20px;
}

.bt_cen {
    margin-top: 1%;
    text-align: center;
}

button {
    background: none;
    background-color: rgb(36, 36, 36);
    border: none;
    margin: 10px;
}

button:hover {
    background: rgb(79, 79, 79);
}

.text_area {
    height: 75%;
    border: 1px solid black;
    font-size: 25px;
    margin: 2% 5% 2% 5%;
    padding: 1% 1% 1% 1%;
    background-color: white;
}